src/main/resources/dogethereum-agents.local.conf
src/main/resources/dogethereum-agents-thread2.conf
src/main/resources/dogethereum-agents-defender.conf
src/main/resources/dogethereum-agents-challenger.conf
src/main/resources/dogethereum-agents-malicious-defender.conf
src/main/resources/dogethereum-agents-malicious-challenger.conf
src/main/resources/dogethereum-agents.rinkeby.conf
src/main/resources/dogethereum-agents.conf
src/main/resources/dogethereum-agents-bkp.conf
src/main/resources/dogethereum-agents.ethganachedogemain.conf
src/main/resources/operator0.key

src/main/java/test/SuperblockChainTest.java

*.iml
*.log

.idea
.gradle

classes
logs
build
target

storage/
defenderstorage/
challengerstorage/
maliciousstorage/
fakesubmitterstorage/

agent-data-dir/
operator-private-key
